/* .login-vh{
    padding: 300px;
} */
.heading-login {
    color: #1A998E;
}

.login-btn {
    width: 35%;
    background-color: #1A998E;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
}

.secondHome {
    padding-bottom: 18rem;
}